<div class="container">
    <div class="logo">
        <img src="assets/ps-logo.png" alt="playstation-logo" width="140px" height="32px">
    </div>
    <div class="item">
        <ul>
            <li><a href="https://en.wikipedia.org/wiki/PlayStation_3" target="_blank">PS3</a></li>
            <li><a href="https://en.wikipedia.org/wiki/PlayStation_4" target="_blank">PS4</a></li>
            <li><a href="https://en.wikipedia.org/wiki/PlayStation_5" target="_blank">PS5</a></li>
        </ul>
    </div>
</div>